.range-text,
.tags-text,
.list-group-item,
a.links-button,
div.links-button > button {
  font-size: 0.8em;
}

.percentage-badge {
  font-size: 14px;
}

.range-bar {
  max-width: 400px;
}

.bi-star:hover {
  color: gold;
}
